/** This mixin makes a single line element fit exactly on the Roboto font for easier integration. */
ingame-ui#scratchPadPanel {
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content: center;
  height:100% !important;
  width: 100% !important;
  background-color: white;
  /*border: 2px solid blue !important;*/
}
ingame-ui#scratchPadPanel #scratchPadPanelWrap {
  display: flex;
  flex-direction: column;
  width: 100% !important;
  height: 100% !important;
  /*border: 2px solid red !important;*/
  min-height: 0;
  min-width: 0;
  overflow:hidden;
  align-items: stretch !important;
  flex: 1 1 auto !important;
}
ingame-ui#scratchPadPanel #scratchPadPanelWrap #scratchPadPanelIframe {
  flex: 1 1 auto !important;
  border: 0;
}
ingame-ui#scratchPadPanel #MainDisplay.hidden {
  display: none;
}
ingame-ui#scratchPadPanel #Footer.hidden {
  display: none;
}
ingame-ui#scratchPadPanel .ingameUiContent {
  /*border: 2px solid green !important;*/
  display: flex !important;
  flex-direction: column !important;
  width: 100% !important;
  height: 100% !important;
  min-height: 0 !important;
  min-width: 0 !important;
  overflow:hidden !important;
  align-items: stretch !important;
  flex: 1 1 auto !important;
}
ingame-ui#scratchPadPanel .ingameUiWrapper {
  /*border: 2px solid yellow !important;*/
  display: flex !important;
  flex-direction: column !important;
  width: 100% !important;
  height: 100% !important;
  min-height: 0 !important;
  min-width: 0 !important;
  overflow:hidden !important;
  align-items: stretch !important;
  flex: 1 1 auto !important;
}

#scratchPadPanelWrap .container {
    height: 100%;
    display: flex;
}

#toolbar {
	display: flex;
	flex-direction: row;
	padding: 3px;
  width: 100%;
  height: 60px;
	background-color: #38a4cf;	
  position: absolute;
}

label {
	font-size: 20px;	
  font-family: Helvetica, fantasy;
  margin: auto;
  margin-right: 5px;
  margin-left: 5px;
}

#toolbar button {
  margin: auto;
  margin-left: 5px;
  margin-right: 5px;
}

.selector{
    background-color: #25475e;
    border: none;
    border-radius: 4px;
    color: white;
    padding: 2px;
    height: 40px;
    width: 50px;
}
    
.color_selector {
	height: 40px;
	width: 40px;  
  border: 1px solid black;
}

.color_selector:active,
.color_selector:focus {
	height: 40px;
	width: 40px;  
  border: 1px solid white;
}


#blackC {
  background-color: black;
}

#redC {
  background-color: red;
}

#greenC {
  background-color: green;
}

#blueC {
  background-color: blue;
}

@font-face {
  font-family: "RobotoMono-Light";
  src: url("/Fonts/RobotoMono-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}